In [14]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage_Small.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0

In [15]:
df.to_json("../data/Library_Usage_Small.json")

In [16]:
df.to_html("../data/Library_Usage_Small.html")

In [11]:
df = pd.read_html("../data/Library_Usage_Small.html")

In [18]:
df.to_excel("../data/Library_Usage_Small.xlsx")

In [19]:
df.to_csv("../data/Library_Usage_Small_2.csv")

In [ ]:
# die Daten-Zeilen wurden durchnummeriert, beginnend bei Null

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patron Type Code              20 non-null     int64
 1   Patron Type Definition        20 non-null     object
 2   Total Checkouts               20 non-null     int64
 3   Total Renewals                20 non-null     int64
 4   Age Range                     20 non-null     object
 5   Home Library Code             20 non-null     object
 6   Home Library Definition       20 non-null     object
 7   Circulation Active Month      20 non-null     object
 8   Circulation Active Year       20 non-null     object
 9   Notice Preference Code        20 non-null     object
 10  Notice Preference Definition  20 non-null     object
 11  Provided Email Address        20 non-null     bool
 12  Year Patron Registered        20 non-null     int64
 13  Outside of County             20 non-null     bool
 14  Supervisor District           17 non-null     float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 2.2+ KB

In [22]:
df.memory_usage(deep=True)

Index                            128
Patron Type Code                 160
Patron Type Definition          1290
Total Checkouts                  160
Total Renewals                   160
Age Range                       1404
Home Library Code               1178
Home Library Definition         1346
Circulation Active Month        1238
Circulation Active Year         1220
Notice Preference Code          1160
Notice Preference Definition    1240
Provided Email Address            20
Year Patron Registered           160
Outside of County                 20
Supervisor District              160
dtype: int64