In [2]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar', 'Apr'],
        'temp': [-5, 2, 3, 5],
         'below_zero': [True, False, False, False],
       'year': [2020, 2020, 2020, 2020]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

In [5]:
df.describe()

           temp    year
count  4.000000     4.0
mean   1.250000  2020.0
std    4.349329     0.0
min   -5.000000  2020.0
25%    0.250000  2020.0
50%    2.500000  2020.0
75%    3.500000  2020.0
max    5.000000  2020.0