In [3]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5],
        'temperatur': [-12, 3, 9, 10, 11]
})

# print out some descriptive statistics
df.describe()

          month  temperatur
count  5.000000    5.000000
mean   3.000000    4.200000
std    1.581139    9.576012
min    1.000000  -12.000000
25%    2.000000    3.000000
50%    3.000000    9.000000
75%    4.000000   10.000000
max    5.000000   11.000000